<footer>
    <button id="reject"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.25 4L4.25 12" stroke="#162638" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M4.25 4L12.25 12" stroke="#162638" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        Nope</button>
    <button id="save">
        <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_42_898)">
        <path d="M14.1433 3.07333C13.8028 2.73267 13.3985 2.46243 12.9536 2.27805C12.5086 2.09368 12.0317 1.99878 11.55 1.99878C11.0683 1.99878 10.5914 2.09368 10.1464 2.27805C9.70145 2.46243 9.29717 2.73267 8.95666 3.07333L8.25 3.78L7.54333 3.07333C6.85554 2.38553 5.92269 1.99914 4.95 1.99914C3.97731 1.99914 3.04446 2.38553 2.35666 3.07333C1.66887 3.76112 1.28247 4.69397 1.28247 5.66666C1.28247 6.63935 1.66887 7.5722 2.35666 8.26L3.06333 8.96666L8.25 14.1533L13.4367 8.96666L14.1433 8.26C14.484 7.91949 14.7542 7.51521 14.9386 7.07023C15.123 6.62526 15.2179 6.14832 15.2179 5.66666C15.2179 5.185 15.123 4.70807 14.9386 4.26309C14.7542 3.81812 14.484 3.41383 14.1433 3.07333V3.07333Z" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
        <clipPath id="clip0_42_898">
        <rect width="16" height="16" fill="white" transform="translate(0.25)"/>
        </clipPath>
        </defs>
        </svg>
        Save</button>
</footer>