<header>
    <section id="icons">
        <button>account</button>
        <button>settings</button>
    </section>
    
<button id="favoritesBtn"><a href="/favorites">Favorites</a></button>
</header>