<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header'); %>

    <h1>hello world</h1>
    <article class="carousel">
        <figure>
            <img src="" alt="">
        </figure>
        <section>
            <h1 class="res-name"></h1>
            <span class="res-location"></span>
        </section>
    </article>

    <%- include('partials/footer'); %>
</body>
</html>