h1 {
    color: green;
}

body {
    width: 375px;
    border: 2px solid;
    padding: 16px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header button {
    height: 32px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

footer button {
    height: 3rem;
    color: salmon;
    width: 100%;
}