*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter';
}

html {
    background-color: #f6f6f6;
}

:root {
    --prime-clr: #DB3230;
    --prime-clr-hover: #ca1d1a;
    --second-clr: #ECF1F7;
    --second-clr-hover: #dfe9f4;
    --third-clr: #162638;
    --base-clr: white;
}

body {
    width: 375px;
    /* border: 0.125rem solid; */
    padding: 3rem 1rem;
    height: 90vh;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--base-clr);
    border-radius: 2rem;
}

button {
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: bold;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 2.5rem;
}

header button {
    height: 2rem;
}

header .icons button {
    width: 2rem;
}

#favoritesBtn {
    background-color: var(--third-clr);
    color: var(--base-clr);
    border-radius: 99rem;
    padding: 0 1.5rem;
    border: none;
    height: 100%;
}

#favoritesBtn a{
    color: var(--base-clr);
    text-decoration: none;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    height: 3.75rem;
}

footer button {
    background-color: var(--button-color);
    width: 100%;
    border: none;
    border-radius: 0.75rem;
}

footer button:hover {
    background-color: var(--button-color);
}

footer button:first-child {
    --button-color: var(--second-clr);
    color: var(--third-clr);
}

footer button:last-child {
    --button-color: var(--prime-clr);
    color: var(--base-clr);
}

footer button:first-child:hover {
    --button-color: var(--second-clr-hover);
}

footer button:last-child:hover {
    --button-color: var(--prime-clr-hover);
}

figure {
    width: 100%;
    border: 2px solid;
    height: 400px;
}

figure img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}