*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter";
}

html {
  background-color: #2b2b2b;
  width: 100%;
  height: 100vh;
}

:root {
  --prime-clr: #db3230;
  --prime-clr-hover: #ca1d1a;
  --second-clr: #ecf1f7;
  --second-clr-hover: #dfe9f4;
  --third-clr: #162638;
  --base-clr: white;
}

body {
  width: 375px;
  /* border: 0.125rem solid; */
  padding: 1rem;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--base-clr);
  border-radius: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 812px;
}

button {
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: bold;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2.5rem;
  /* border: 2px dashed; */
}

header button {
  height: 2rem;
}

header .icons button {
  width: 2rem;
}

#favoritesBtn {
  background-color: var(--third-clr);
  color: var(--base-clr);
  border-radius: 99rem;
  padding: 0.75rem 1.5rem;
  border: none;
  color: var(--base-clr);
  text-decoration: none;
  font-size: 14px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  height: 3.75rem;
}

footer button {
  cursor: pointer;
  background-color: var(--button-color);
  width: 100%;
  border: none;
  border-radius: 0.75rem;
}

footer button:hover {
  background-color: var(--button-color);
}

footer button:first-child {
  --button-color: var(--second-clr);
  color: var(--third-clr);
}

footer button:last-child {
  --button-color: var(--prime-clr);
  color: var(--base-clr);
}

footer button:first-child:hover {
  --button-color: var(--second-clr-hover);
}

footer button:last-child:hover {
  --button-color: var(--prime-clr-hover);
}

#star {
  position: relative;
  /* border: 2px solid; */
  border-radius: 0.75rem;
  overflow: hidden;
  height: 80%;
}

#star figure {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: flex;
  /* flex-direction: row; */
  overflow-x: scroll;
  justify-content: start;
  align-items: center;
  overflow-y: hidden;
  scroll-snap-align: center;
  scroll-snap-type: x mandatory;
}

#star img {
  flex: none;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#star section {
  padding: 1rem;
  width: 100%;
  height: 25%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top, black, transparent);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
}
