*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--myfont), sans-serif;
  font-size: var(--body-txt-size-m);
  font-weight: 400;
}

html {
  background-color: #2b2b2b;
  width: 100%;
  height: 100vh;
  font-family: var(--myfont), sans-serif;
}

:root {
  /* Colors */
  --prime-clr: #db3230;
  --prime-clr-hover: #ca1d1a;
  --second-clr: #ecf1f7;
  --second-clr-hover: #dfe9f4;
  --third-clr: #162638;
  --base-clr: white;
  --bg-clr: white;
  /* Fonts */
  --myfont: "Inter";
  --button-txt-size: 14px;
  --body-txt-size-s: 14px;
  --body-txt-size-m: 16px;
  --heading1-txt-size: 24px;
}

body {
  width: 375px;
  /* border: 0.125rem solid; */
  padding: 1rem;
  height: 95vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background-color: var(--bg-clr);
  border-radius: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 812px;
}

button {
  font-size: var(--button-txt-size);
}

p {
  font-size: var(--body-txt-size-m);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2.5rem;
  /* border: 2px dashed; */
}

header section {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.125rem;
}

header section button {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  border: none;
  color: #db3230;
  background-color: transparent;
}



header > a {
  background-color: var(--third-clr);
  color: var(--base-clr, white);
  border-radius: 99rem;
  padding: 0 0.75rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border: none;
  color: var(--base-clr, white);
  text-decoration: none;
  font-size: var(--button-txt-size);
}

header > a.terug {
  padding: 0 1rem;
  background-color: var(--second-clr);
  color: var(--third-clr);
}

header > a.terug:hover {
  background-color: var(--second-clr-hover);
}

header > a.terug svg {
  fill: var(--third-clr);
}


footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  height: 3.75rem;
  min-height: 3rem;
  margin-top: auto;
}

footer button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  transition: 0.3s;
}

footer button:first-child {
  background-color: var(--second-clr);
  color: var(--third-clr);
}

footer button:last-child {
  background-color: var(--prime-clr);
  color: var(--base-clr, white);
}

footer button:first-child:hover {
  background-color: var(--second-clr-hover);
}

footer button:last-child:hover {
  background-color: var(--prime-clr-hover);
}

footer button:last-child svg {
  transition: 0.5s;
  fill: transparent;
}

footer button:last-child:hover svg {
  fill: var(--base-clr, white);
  transform: translateX(-5%) scale(1.2);
}

#option {
  position: relative;
  /* border: 2px solid; */
  border-radius: 0.75rem;
  overflow: hidden;
  height: 80%;
  margin: 1.5rem 0;
}

#option figure {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

#option img {
  width: 100%;
  height: 100%;
  min-width: 100%;
  object-fit: cover;
  user-select: none;
  scroll-snap-align: center;
}

#option section {
  padding-left: 1.25rem;
  padding-bottom: 1.25rem;
  width: 100%;
  height: 25%;
  min-height: 8.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--base-clr, white);
  pointer-events: none;
}

#option h1 a {
  text-decoration: none;
  color: var(--base-clr, white);
  font-size: var(--heading1-txt-size);
  font-weight: 300;
  pointer-events: visible;
}

#option span {
  font-size: var(--body-txt-size-s);
}

#option > button {
  position: absolute;
  width: 50%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

#option > button.jsactive {
  pointer-events: auto;
}

#option > button:nth-child(1) {
  left: 0;
}
#option > button:nth-child(2) {
  right: 0;
}

.active {
  cursor: grabbing;
}

#pnf img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  transform: scale(0.8);
  object-fit: cover;
}

#pnf h1 {
  border-left: 0.5rem solid var(--prime-clr);
  padding-left: 1rem;
  color: var(--third-clr);
  font-size: 250%;
  font-weight: 600;
  line-height: 105%;
}

#saved {
  display: grid;
  /* margin-top: 2rem; */
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 0.75rem;
  width: 100%;
}

#saved article {
  aspect-ratio: 9/16;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#saved figure {
  overflow: hidden;
  width: 100%;
  height: 75%;
  border-radius: 0.5rem;
}

#saved img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 0.75rem;
}

.menu > div {
  width: 100%;
  height: 200px;
  border-radius: 0.5rem;
  background-color: #f1f1f1;
}

@media (max-width: 420px) {
  body {
    width: 100%;
    height: 100%;
    max-height: 920px;
    border-radius: 0;
  }
}

.titel {
  padding-top: 2rem;
  padding-bottom: 1rem;
  /* border: #db3230 solid; */
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
}

.titel h1 {
  font-size: var(--heading1-txt-size);
}

#login {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  gap: 2rem;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 5rem;
}

#login h1{
  font-size: var(--heading1-txt-size);
  margin-bottom: .5rem;
}

#login figure {
  /* border: 2px solid black; */
  width: 100%;
  height: 45%;
  border-radius: 0.5rem;
  overflow: hidden;
}

#login figure img {
  display: block;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#login form {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  width: 100%;
}

#login form label {
  /* margin-bottom: 0.25rem; */
  font-size: 14px;
}

#login form input[type="email"] {
  all: unset;
  background-color: transparent;
  border: none;
  border-bottom: 1.2px solid var(--third-clr);
  outline: none;
  margin-bottom: 1.75rem;
  height: 3rem;
  /* padding: 0.5rem 0 ; */
  /* border-radius: 0.5rem; */
}

#login form input[type="submit"] {
  height: 3.25rem;
  border: none;
  border-radius: .75rem;
  background-color: var(--prime-clr);
  font-weight: 600;
  font-size: var(--button-txt-size);
  color: var(--base-clr, white);
}

#login form input[type="submit"]:hover {
  background-color: var(--prime-clr-hover);
  transition: 0.1s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --prime-clr: #db3230;
    --prime-clr-hover: #ca1d1a;
    --second-clr: #ecf1f7;
    --second-clr-hover: #dfe9f4;
    --third-clr: #162638;
    --base-clr: white;
    --bg-clr: white;
    --bg-clr: white;
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    --prime-clr: #db3230;
    --prime-clr-hover: #ca1d1a;
    --second-clr: #ecf1f7;
    --second-clr-hover: #dfe9f4;
    --third-clr: #162638;
    --base-clr: white;
    --bg-clr: rgb(18, 18, 20);
  }

  #favoritesBtn {
    background-color: var(--second-clr);
    color: var(--third-clr);
  }
} */
