<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

  <body id="404">
    <%- include('../partials/header'); %>
    <h1>This page isn't as delicious as you expected, did you?</h1>
  </body>

</html>