<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

  <body id="pnf">
    <%- include('../partials/header'); %>
      <span>404</span>
      <h1>This page isn't as delicious as you expected, did you?</h1>
      <img src="https://c.tenor.com/x8v1oNUOmg4AAAAd/rickroll-roll.gif" alt="">
  </body>

</html>