<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

<body>
    <h1>you did it! <%= restaurant.name  %> </h1>
    <main>
        <section class="menu">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </section>
    </main>
    
    <%- include('../partials/footer'); %>
</body>
</html>